body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #757575;
}
:root {
}

.list {
  list-style: none;
}

/*site nav*/
.header-nav {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #000000;
  text-decoration: none;
}
.logo-color {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #2196f3;
}

.site-nav .link {
  color: #212121;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.contacts-nav .data {
  color: #757575;
  text-decoration: none;
}

.contacts-nav .data:hover,
.contacts-nav .data:focus {
  color: #2196f3;
}

/*main*/
.section-title {
  color: #212121;
}
.hero {
  background-color: #2f303a;
}
.hero-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: #ffffff;
}
.team {
  background: #f5f4fa;
}
/*Portfolio*/
.section-paragraph {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
.section-portfolio {
  color: #212121;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
}

/*footer*/

.footer {
  background: #2f303a;
}
.logo-white {
  color: #ffffff;
}

.footer-nav .data {
  color: #757575;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.footer-nav .local {
  color: #ffffff;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.footer-nav .data:hover,
.footer-nav .data:focus {
  color: #2196f3;
}
